/* Definindo Variáveis Globais */
:root {
    --background-color: #c4c7f3;
    --text-color: #020b3a;
    --highlight-color: #564caf;
    --button-color: #4336f4;
}

/* Aplicando as Variáveis */
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 20px;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

h1 {
    color: var(--highlight-color);
}

p {
    font-size: 18px;
}

a {
    display: block;
    margin-bottom: 10px;
    color: var(--highlight-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    color: white;
    cursor: pointer;
}
