body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: hsl(286, 69%, 43%);
    color: white;
    padding: 20px 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display-block {
    display: block;
    background-color: #e7f7e9;
    padding: 10px;
    margin-bottom: 10px;
}

.display-none {
    display: none;
}

.display-inline {
    display: inline;
    background-color: #d1e7ff;
    padding: 10px;
    margin-bottom: 10px;
}

.display-inline-block {
    display: inline-block;
    background-color: #ffe7d1;
    padding: 10px;
    margin-bottom: 10px;
}

.visible {
    visibility: visible;
    background-color: #e7d1ff;
    padding: 10px;
    margin-bottom: 10px;
}

.hidden {
    visibility: hidden;
    background-color: #ffd1d1;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: hsl(286, 69%, 43%);
    color: white;
    padding: 10px 0;
}
