body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    flex-direction: column;
    gap: 20px;
}

.transition-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4c53af;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s;
}

.transition-button:hover {
    background-color: #4c53af;
}

.transition-box {
    width: 200px;
    height: 100px;
    background-color: #ddd;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
}

.transition-box:hover {
    transform: scale(1.1);
}
