body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    gap: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2840c5;
    color: white;
    cursor: pointer;
}

.animated-div {
    width: 100px;
    height: 100px;
    background-color: #2840c5;
    border-radius: 10px;
    animation: animateDiv 4s infinite;
}

@keyframes animateDiv {
    0% {
        transform: translateX(0);
        opacity: 1;
        background-color: #4c63af;
    }
    25% {
        transform: translateX(100px);
        opacity: 0.75;
        background-color: #f43646;
    }
    50% {
        transform: translateX(200px);
        opacity: 0.5;
        background-color: #f0f321;
    }
    75% {
        transform: translateX(100px);
        opacity: 0.75;
        background-color: #4c63af;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        background-color: #f43646;
    }
}

