body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

.responsive-paragraph {
    font-size: 18px;
}

.responsive-button {
    padding: 10px 20px;
    background-color: #4c5eaf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .responsive-paragraph {
        font-size: 14px;
    }

    .responsive-button {
        background-color: #50556d;
    }
}
