body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.animated-box {
    width: 100px;
    height: 100px;
    background-color: #2349b1;
    border-radius: 10px;
    animation: moveBox 2s infinite;
}

@keyframes moveBox {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(300px);
    }
    100% {
        transform: translateX(0);
    }
}
